body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0px;
  padding:0px;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  padding:10px;
  margin:10px;
}
a {
  text-decoration: none;
  text-transform:uppercase;
  color: #fff;
  font-size: 0.775em;
  font-weight: bold;
  font-kerning: 2px;
  margin:3px;
}
.image-float {
  float: left;
  padding-right: 50px;
}
.copyright {
  text-align: center;
  font-size: 0.75em;
  color: #949494;
  padding-top:20px;
}
#top-navbar {
  top:0px;
  margin:0px;
  padding: 15px;
  text-align: center;
  background-color: #bbbbbb;
}
#top-navbar a {
  text-decoration: none;
  text-transform:uppercase;
  color: #000;
  font-size: 0.755em;
  font-kerning: 2px;
  margin: 3px;
  padding: 3px 8px 3px 8px;
}
#top-navbar a:hover {
  text-decoration: none;
  text-transform:uppercase;
  font-weight: bold;
  color: #595959;
  font-size: 0.755em;
  font-stretch: expanded;
  padding: 3px 8px 3px 8px;
}
#top-navbar a:active {
  text-decoration: none;
  text-transform:uppercase;
  color: #cc8400;
  font-size: 0.775em;
  font-stretch: expanded;
  font-weight: bold;
  padding: 3px 8px 3px 8px;
}
#welcome {
  color: #fff;
  background-image: url(../img/bare-tree.jpg);
  background-repeat: no-repeat;
  height: 965px;
  background-color: #ccc;
  margin-top:0px;
}
#projects {
  margin-top: 0px;
  padding-top: 10px;
}

#resume {
  margin-top: 100px;
}
.about {
  text-align: center;
  font-size: 2.5em;
}
.mystory {
  margin:0px 150px 0px 250px;
  width: 970px;
  font-size: 1.35em;
  line-height: 1.495em;
  text-indent: 30px;

}

h1.large-text {
  font-size: 4.675em;
  padding-top:220px;
  padding-left: 250px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.title {
  font-size: 2.245em;
  padding-left: 250px;
  padding-top: 0px;
  margin-top: 0px;
}
.title-center {
  font-size: 2.245em;
  padding-left: 250px;
  padding-top: 0px;
  text-align: center;
}

.iconbox {
  background-color: #fff;
  margin: 180px 50px 0px 50px;
}

.iconbox .container {
  position: relative;
  margin:0px 5px 0px 240px;
  padding: 5px 5px 0px 5px;
}
.iconbox h2 {
  font-size: 2.2em;
}
.col-content {
  float: left;
  padding: 5px;
}

.row {
  content:"";
  clear: both;
  display: table;
}

#intro {
  background-color: #fff;
  height: 500px;
  margin: 75px 75px 0px 75px;
}
#intro p {
  min-width: 250px;
  font-size: 1.1em;
}
#project-items {
  margin:0px 50px 0px 250px;
  padding:5px 5px 0px 5px;
}
.project-items {
  text-align: center;
  margin:0px 50px 0px 250px;
}
#footer {
  color: #fff;
  background-color: #000;
  margin:0px;
  padding: 75px 0px 100px 0px;
}
#bottom-navbar {
  top:0px;
  margin:0px;
  padding: 30px;
  text-align: center;
}
#bottom-navbar a {
  text-decoration: none;
  text-transform:uppercase;
  color: #949494;
  font-size: 0.775em;
  font-kerning: 2px;
  margin: 3px;
  padding: 3px 8px 3px 8px;
}
#bottom-navbar a:hover {
  text-decoration: none;
  text-transform:uppercase;
  color: #808080;
  font-size: 0.775em;
  font-stretch: expanded;
  font-kerning: 2px;
  padding: 3px 8px 3px 8px;
}
.footer-title {
  font-size: 3.245em;
  padding-top: 0px;
  text-align: center;
}
