body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0px;
  padding:0px;
}
button {
  display: block;
  border-color: red;
  background-blend-mode: color;
  padding: 30px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding:10px;
  margin:10px;

}
a {
  text-decoration: none;
  text-transform:uppercase;
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  font-kerning: 2px;
}
#top-navbar {
  top:0px;
  margin:0px;
  padding: 30px;
  text-align: center;
}
#welcome {
  color: #fff;
  background-image: url(../img/bare-tree.jpg);
  background-repeat: no-repeat;
  height: 990px;
  background-color: #ccc;
  margin-top:0px;

}
h1.large-text {
  font-size: 4.675em;
  padding-top:220px;
  padding-left: 250px;
  padding-bottom: 0px;
}

.title {
  font-size: 2.245em;
  padding-left: 250px;
  padding-top: 0px;
}

#intro {
  background-color: #fff;
  height: 500px;
  margin: 75px 75px 0px 75px;

}
#intro p {
  min-width: 250px;
  width: 400px;
  font-size: 1.1em;
}
